<div class='userInfoCont'>

  <h4 id='userMsg'>Login</h4>
   <%= form_for :user, url: '/login', method: :post do |f| %>
     <%= f.text_field :email, placeholder: 'email' %>
     <%= f.text_field :password, placeholder: 'password', type: 'password' %>
     <%= f.submit 'Login' %>
   <% end %>
   <%= button_tag "Register Now",  action: '/register', method: :get, id: 'registerNow' %>

</div>
