<div id='possiblevalues'>
  <h3>click to add to <%= friend.first_name %>'s value list</h3>
  <%= render partial: 'values/possiblevalues', locals: {moreValues: moreValues, friend: friend} %>

  <form id='morevalue_form' action='/friend/<%= friend.id %>values' method='GET' >
    <button type="submit">More Values</button>
  </form>

  <form id='addvalue_form' action='/friend/<%= friend.id %>/addvalue' method='POST'>
    <input type='hidden' name='friend_id' value='<%= friend.id %>'>
    <input type='text' name='word' placeholder='value'>
    <button type="submit" >  add</button>
  </form>

</div>
